body {
  transition: background-color 0.3s, color 0.3s;
  background-color: #f5f5f5;
  color: #333;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #1e1e1e;
  color: #f5f5f5;
}
